mixin item(object)
    .questions-section__item
        .questions-section__item-header
            span !{object.title}
            +svgIcon({name: 'arrow'})
        .questions-section__item-body !{object.text}
section.questions-section
    .container
        .questions-section__wrapper
            .questions-section__inner
                .questions-section__number
                    .section-number 06
                .questions-section__title
                    h2.title Часто задаваемые вопросы:
                .questions-section__subtitle
                    .subtitle На любой вопрос, которой Вас мучает - вы получите грамотный и быстрый ответ
                .questions-section__data
                    +item({
                        title: 'Не крутится барабан в стиральной машине? ',
                        text: '<p>Существует несколько причин, по которым барабан может не крутиться: порвался (растянулся) приводной ремень, необходима замена ремня, износились щетки двигателя, поломался двигатель (если оборвалась обмотка ротора и стартера, то барабан не сможет крутиться вообще) неисправность модуля (программатора) машина не получает нужные сигналы, потому не может работать, повредились подшипники (нужна замена подшипников и сальников)</p>'
                    })
                    +item({
                        text: '<p>При отсутствии внешних повреждений на самой кнопке включении, вполне может оказаться, что причиной поломки стиральной машинки может быть неисправность розетки, выход из строя или выключенный автомат защиты УЗО или отсутствие электроэнергии в доме. Возможны и более серьезные неисправности: ремонт модуля управления (программатор), снятие блокировки, неисправность системы блокировки дверцы; неисправность фильтра помех - данная деталь отвечает за гашение электромагнитных помех в электрической проводке;</p>',
                        title: 'почему СТИРАЛЬНАЯ МАШИНА НЕ ВКЛЮЧАЕТСЯ?'
                    })
                    +item({
                        title: '<p>почему СТИРАЛЬНАЯ МАШИНА НЕ ВКЛЮЧАЕТСЯ?</p>',
                        text: 'Причин множество, основными являются следующие: <br> а) сломались патрубки, срок службы этих деталей 1,5-2 года, после требуется их замена; б) если стиральная машина течет снизу и при этом издает посторонний шум, может оказаться, что проблема в сальнике или подшипнике; в) при проблемах с баком стиральные машины начинают подтекать в процессе стирки; г) износ манжеты, резиновая накладка на дверце приходит в негодность со временем.'
                    })
                    +item({
                        title: '<p>Почему подтекает стиральная машина? </p>',
                        text: 'Причин множество, основными являются следующие: <br> а) сломались патрубки, срок службы этих деталей 1,5-2 года, после требуется их замена; б) если стиральная машина течет снизу и при этом издает посторонний шум, может оказаться, что проблема в сальнике или подшипнике; в) при проблемах с баком стиральные машины начинают подтекать в процессе стирки; г) износ манжеты, резиновая накладка на дверце приходит в негодность со временем.'
                    })
                    +item({
                        text: '<p> Стиральная машина не нагревает воду - это наиболее частая проблема, причин неисправности всего три: стиральная машина не может нагреть воду без качественного нагревательного элемента (ТЭНа), если датчик температурного режима не работает или работает некорректно, то он не может подавать правильные сигналы ТЭНу и нагрев происходит неправильно или вообще отсутствует, вышел из строя программатор (модуль управления). Залог качественного ремонт - правильная диагностика неисправности.</p> <p>Стоимость ремонт зависит от определенной неисправности, стоимости запчастей, производителя и модели стиральной машины,</p> <p>замена нагревательного элемент ТЭН; <br> неисправен термодатчик - замена термодатчик;<br> неисправен модуль управления (программатор);</p>',
                        title: 'Стиральная машины не нагревает воду. В чем причины?'
                    })
                    +item({
                        text: '<p>Распространенная поломок стиральных машин является невозможность стиральной машины сливать воду частично или полностью.</p> <p>Возможные причины:  а) засорился фильтр в сливном насосе, требуется его чистка; б) засорилась канализационная система; в) засорился или согнут, неправильно установлен сливной шланг;  г) сломан насос;  д) вышел из строя датчик уровня воды (прессостат), не работает модуль управления. </p>',
                        title: 'Почему не силвается вода?'
                    })
